<!DOCTYPE html>
<html lang="en" ng-app="tdGallery">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS  Using Skeletion Grid
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/galleryModal.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">


</head>

<!-- GALLERY
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body >

<!--Image thumbnail-->
<div ng-controller="GalleryController">
    <div class="container" ><div  class = "row" >
        <div class="three columns" ng-repeat =" item in gallery">
             <img ng-src = "{{item.images.thumbnail.url}}" ng-click="openModal($index)" > </div> </div> </div>


<modal-box show="showModal">
    <div class="container">
        <div class="row">
            <div class="eight columns ">
                <img ng-src = "{{gallery[getSelectedItem()].images.standard_resolution.url}}">
                </div>

            <div class=" four columns"><h3>Comments</h3>
            <form name = "user_Comment.form" ng-submit = "submitForm()"  action ="#"ng-controller="CommentController">
                <!--list preview comments-->
                <li ng-repeat="comment in gallery.comments">
                    <blockquote>
                        <i>{{comment.date}}</i>
                        {{comment.body}}
                       <strong><cite class="clearfix">—{{comment.author}}</cite></strong>
                    </blockquote>
                </li>
                </ul>
                <!--  Live Preview -->

                <blockquote>
                    <i>{{currentDate | date : 'MM/dd/yyyy @ h:mma' }}</i><br><br/>
                    {{userCmt}}<br>
                    <strong><cite class="clearfix">—{{author}}</cite></strong>
                </blockquote>


                <fieldset>
                   User Name: <input ng-model="author" type="text" placeholder="Jhon Doe" required><br>
                    <textarea  ng-model="userCmt"  rows="4" cols="50" placeholder="So!  How do you like the picture?"required> </textarea><br>
                    <br/><br/>
                    <button type="submit">Submit</button>

                </fieldset>

            </form>
</div>
        </div>
            </div>
    </div>

</modal-box>
<!--Image  details (MODAL)-->
</div>

<!-- SCRIPTS
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="js/angular.min.js"></script>
<script src="js/glrDirectives.js"></script>
<script src="js/app.js"></script>


</body>
</html>